@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  box-sizing: border-box;
  height: 100%;
  background-color: #F2F2F2;
}


body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #FFFFFF;

  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

}

.header-navigation {
  display: flex;
  position: relative;
}

.logo {
  margin-left: 70px;
}

.logo-sedona {
  position: absolute;
}

.navigation-list {
  margin: 0;
  width: 510px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.navigation-user {
  margin-left: auto;
  padding: 0;
  width: 88px;
}
.navigation-user-link {
  padding: 24px 13px;
}

.main-container {
  flex-grow: 1;
}

.page-header {
  color: #000000;
}

.navigation-link {
  display: block;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  text-align: center;
  padding: 20px 16px;
}

.hero {
  background-image: url("../images/main-hero.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #66a1c9;
}

.page-text {
  font-size: 22px;
  line-height: 26px;
}

.advantages-description {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-top: 69px;
  padding-bottom: 69px;
  margin-bottom: 21px;
}

.advantages-services {
  padding-top: 64px;
  padding-bottom: 64px;
  margin-bottom: 0;

}

.advantages-description-text {
  margin-top: 25px;
  margin-bottom: 0;
}

.advantages-services-text {
  margin-top: 20px;
  margin-bottom: 0;
}

.page-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  font-weight: 700;
  margin: 0;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 62px;
}

.services-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  margin-top: 0;
  margin-bottom: 30px;
  padding-top: 183px;

}

.services-color {
  background-color:rgba(131, 179, 211, 0.12);
}

.services-list {
  display: flex;
}

.services-item  {
  text-align: center;
  width: 400px;
}

.services-text {
  margin: 0;
  padding-right: 85px;
  padding-left: 85px;
  padding-bottom: 81px;
}

.advantages-item-full {
  color: #FFFFFF;
  background-color: #82B3D3;
}

.advantages-title-full {
  text-transform: uppercase;
  margin-top: 0;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color:#000000;
}

.catalog-filter {
  background-image: url("../images/catalog-images/background-hotels-sedona.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #FFFFFF;
}

.catalog-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin-top: 0;
  margin-bottom: 8px;
}

.hotel-card-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color:#000000;
  text-decoration: none;
}

.button {
  display: inline-block;
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  font-family: "PT Sans", sans-serif;
  text-align: center;
  color:#FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #756157;

  border: none;
  border-radius: 4px;
  padding: 8px 50px;
}

.navigation-link-button {
  margin-right: 70px;
  margin-left: 20px;
  padding: 8px 34px;
  align-self: center;
}

.button-light {
  background-color: #82B3D3
}

.page-footer {
  display: flex;
  padding-top: 45px;
  padding-bottom: 35px;
  padding-left: 70px;
  padding-right: 70px;
  justify-content: space-between;
}

.social-list {
  display: flex;
}

.welcome-sedona {
  display: block;
  margin: 0 auto;
  padding-bottom: 82px;
  padding-top: 51px;
}

.advantages-list  {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.advantages-container {
  display: flex;
}

.advantages-container-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.advantages-item {
  width: 400px;
  background-color: rgba(131, 179, 211, 0.12);
}

.other-color {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-content {
  width: 400px;
  text-align: center;
  padding-top: 113px;
  padding-bottom: 112px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.content-full {
  padding-bottom: 102px;
  padding-top: 102px;
}

.advantages-text {
  margin: 0;
  padding-left: 85px;
  padding-right: 85px;
}

.search {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 96px;
  padding-bottom: 96px;
}

.search-text {
  margin-top: 20px;
  margin-bottom: 54px;
}

.button-search-hotel {
  align-self: center;
  font-size: 20px;
  line-height: 36px;
}

.filter-form {
  display: flex;
  padding-left: 70px;
  justify-content: space-between;
  padding-right: 70px;
}

.filter-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 56px;
}

.button-transparent {
background-color: transparent;
}

.catalog-sorting  {
  display: flex;
  padding-left: 70px;
  padding-top: 56px;
  padding-bottom: 46px;
}

.catalog-header {
  padding-left: 70px;
  padding-bottom: 40px;
}

.hotels-types {
  margin-left: 70px;
}

.sorting-select {
  margin-left: 200px;
  width: 290px;
  margin-right: 70px;
}

.sorting-view {
  display: flex;
  justify-content: space-between;
  width: 160px;
  padding: 0;
  gap: 8px;
}

.view-item {
  width: 48px;
}
.gallery {
  margin-left: 70px;
}

.mailing {
  background-image: url("../images/mailing.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #66a1c9;

}

.mailing-home {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-top: 96px;
  padding-bottom: 104px;
}

.mailing-title {
  color: #FFFFFF;
}

.mailing-text {
  color: #FFFFFF;
  margin-top: 20px;
  margin-bottom: 54px;
}

.mailing-form {
  display: flex;
  margin: 0 auto;
}

.mailing-field {
  background: #F2F2F2;
  border: 0;
  border-radius: 4px 0 0 4px;
  width: 412px;
  padding: 14px 20px 14px 20px;
  font-size: 18px;
  line-height: 24px;
}

.subscribe-button {
  border-radius: 0 4px 4px 0;
  font-size: 20px;
  line-height: 36px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-reset {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.advantages-image {
  margin: 0;
  line-height: 4px;
}

.breadcrumbs  {
  display: flex;
 width: 114px;
 justify-content: space-between;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  text-decoration: none;
}

.filter-group {
  border: 0;
  padding: 0;
  padding-bottom: 73px;
}

.filter-group-range {
  width: 230px;
}

.filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 32px;
}

.filter-list {
  line-height: 23px;

}

.control-item {
  margin-bottom: 16px;
}

.control-item:last-child {
  margin-bottom: 0;
}

.gallery-list {
  display: grid;
  width: 1060px;
  grid-template-columns: 340px 340px 340px;
  grid-template-rows: 438px 438px;
  gap: 20px;
  margin-bottom: 40px;
}

.gallery-item {
  display: grid;
  gap: 16px;
  grid-template-rows: 212px 28px 21px 36px 36px;
  grid-template-columns: 140px 140px;
  justify-content: center;
  align-self: center;
}

.gallery-link {
  margin-top: 0;
  margin-bottom: 0;
}

.gallery-text {
  margin-top: 0;
  margin-bottom: 0;
}

.gallery-img {
  grid-column: 1/3;
}

.gallery-link {
  grid-column: 1/3;
  font-size: 24px;
  line-height: 28px;
  color:#000000;
  font-weight: 700;
  text-decoration: none;
}

.gallery-button-more {
  padding: 8px 26px;
}

.gallery-button {
  padding: 8px 20px;
}

.gallery-favorites-active {
  background-color: #7DB54F;
  padding: 8px 18px;
}

.gallery-rating-text {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  background-color: #F2F2F2;
  padding: 9px 22px 8px 23px;
}

.pagination {
  display: flex;
  padding-top: 40px;
  padding-bottom: 60px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 11px 18px;
  text-decoration: none;
  background-color: #82B3D3;
  border-radius: 4px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #FFFFFF;
  text-align: center;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-next {
  color: #000000;
  background-color: #FFFFFF;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.mailing-catalog-text {
  margin-top: 20px;
  margin-bottom: 54px;
}
